body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(11, 63, 24);
    margin-top: 30px;
    font-size: 35px;
}

div p {
    color: rgb(33, 133, 78);
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

.HCN, .TG, .HV {
    padding: 20px;
    width: 70%;
    text-align: left;
    margin: 20px ;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    background-color: #fafafa;

}
label{
    font-size: 20px;
}


input[type="number"] {
    width: 100%; 
    font-size: 18px;
    font-style: arial;
    padding: 8px;
    margin: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color:  #17884a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

button:hover {
    background-color: #0a5f26;}
